PORT=5000
MONGODB_URI=mongodb://localhost:27017/farmer
JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_EXPIRE=7d
CHAPA_SECRET_KEY=CHASECK_TEST-VleuYslBxBSKB2rzcpPK2xLc1d7c7u0n
FRONTEND_URL=http://localhost:8080


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=yimermarelign@gmail.com
SMTP_PASS=peby bqrg gbuz zitz
SMTP_FROM=AgriConnect <yimermarelign@gmail.com>